<div class="container-fluid">
    <div class="topbar"><h1>About</h1></div>
    <p id="top">
        I'm <B>ANJALI SINHA</B>, a final year student pursuing Bachelors in Computer Application. Enthusiastic and Competitive student eager to contribute to team success through hardwork, attention to detail and excellent organisational skills. Clear understanding of JAva and Python. My strength are Java Development and Web Development. I am keenly interested in the experimental areas as well as coding and am well versed in Python, Java and web development.
      </p>
      <img src="assets/about.gif" alt="">
      <ul style="list-style-type: none;"><h5><b>Skills:-</b></h5>
        <li><b>Languages:</b><span>&nbsp;&nbsp;Python, Java, HTML/CSS</span>
        </li>
        <li> <b>Databases: </b>
             <span>&nbsp;&nbsp;MySQL, MongoDB</span>
        </li>
        <li><b>Frameworks: </b>
               <span>&nbsp;&nbsp;Angular, Bootstrap</span>
        </li>
        <li><b>Tools & Technologies:</b>
               <span>&nbsp;&nbsp;PowerBI, Tableau, Git</span>
        </li>
      </ul>

      <p id="bottom">
        Looking for an opportunity to work in a challenging position combining my skills in Software Engineering, which provides professional development, interesting experiences and personal growth.
      </p>
</div>
