<div class="container-fluid">
  <div class="topbar"><h1>Experince</h1></div>
    <div class="roww">
      <img src="./assets/ex.jpg" id="banner">
    <div class="content">
        <div class="row" style="text-align: center;">
          <div class="col-4"><b>Name</b></div>
          <div class="col-4"><b>Position</b></div>  
          <div class="col-4"><b>Duration</b></div>
        </div>
        <div class="row" style="text-align: center;">
          <div class="col-4">PrepInsta<img src="./assets/prepinsta.png" alt=""></div>
          <div class="col-4">Data Analyst Intern</div>
          <div class="col-4">1 June - Present</div>
        </div>
        <div class="row" style="text-align: center;">
          <div class="col-4">SmartBridge<img src="./assets/smartbridge.png" alt=""></div>
          <div class="col-4">Salesforce Developer Intern</div>
          <div class="col-4">1 May - 31 May</div>
        </div>
      </div>
    </div>
  </div>
