<div class="container-fluid">
    
	<div class="avatar">
		<a href="https://codepen.io/MarioDesigns/">
			<img src="./assets/welcome.gif" alt="Skytsunami" />
		</a>
	</div>
    <h1>Contact Me!</h1>
        <ul style="list-style: none;">
            <li><i class="bi bi-envelope-at"></i>&nbsp;&nbsp;&nbsp;anjalisinha89871&commat;gmail.com</li>
            <li><i class="bi bi-telephone"></i>&nbsp;&nbsp;&nbsp;8756995656</li>
            <li><i class="bi bi-linkedin">&nbsp;&nbsp;&nbsp;</i></li>
        </ul>  
    <h6>BY: Anjali Sinha <span style="color: red;">&#10084;</span></h6> 
</div>