<div class="container-fluid">
    <div class="container">
        <h1>Hi! I'm Anjali Sinha</h1>
         <p>Self-driven, quick starter, passionate programmer with a curious mind who enjoys solving a complex
        and chalenging real-world problems</p>
        <div class="btnContainer">
            <div class="btn btn-secondary" id="read" routerLink="home/about">Read More!</div>
        <div class="btn btn-warning" id="contact" routerLink="home/contact">Contact Me</div>
        </div>
    </div>
</div>